@font-face {
  font-family: "TheLightFont";
  src: url("assets/TheLightFont.otf");
}

@font-face {
  font-family: "GeoSansLight";
  src: url("assets/GeosansLight.ttf");
}

p {
  margin-bottom: 0;
}

#navigationBar {
  max-height: 70px;
}

#logoContainer {
  position: relative;
}

#logo {
  z-index: 2;
  margin-left: 40px;
  position: absolute;
  bottom: -10px;
}

#logoImage {
  width: 70px;
}

#col-navlink1 {
  padding-top: 20px;
}

#col-navlink1 a {
  font-family: "GeoSansLight";
  font-size: 35px;
  color: grey;
}

#col-navlink2 {
  padding-top: 20px;
}

#col-navlink2 a {
  font-family: "GeoSansLight";
  font-size: 35px;
  color: grey;
}

#col-navlink3 {
  padding-top: 20px;
}

#col-navlink3 a {
  font-family: "GeoSansLight";
  font-size: 35px;
  color: grey;
}

#col-navlink4 {
  padding-top: 20px;
}

#col-navlink4 a {
  font-family: "GeoSansLight";
  font-size: 35px;
  color: grey;
}

.col {
  padding: 0;
}

.col img {
  width: 100%;
}

.sectionHeader {
  font-family: "TheLightFont";
  font-size: 30px;
  padding: 0 20px;
}

.sectionHeader p {
  margin-bottom: -1rem;
}

.sectionBody {
  padding: 40px;
}

.sectionText {
  font-family: "GeoSansLight";
  font-size: 20px;
  padding: 0 20px;
}

.ourStory {
  font-family: "TheLightFont";
  font-size: 20px;
}

.productBody {
  text-align: center;
  padding-left: 15vw;
  padding-right:15vw;
  padding-top: 20px;
  padding-bottom: 40px;
}

#mapo {
  color: #ff8383;
  margin-bottom: -1rem
}

#homestyle {
  color:  #4cce4c;
  margin-bottom: -1rem
}

#vietnamese {
  color: #237bff;
  margin-bottom: -1rem
}

#kungpao {
  color: #dfb300;
  margin-bottom: -1rem
}

.headerContainer {
  padding: 0 40px;
}

#tofuDescription1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#tofuDescription2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

#tofuDescription3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

#tofuDescription4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.footerSocial {
  height: 5vh;
  width: 100%;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-top: -30px;
}

.socialButton {
  height: 40px;
}

.socialLink {
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

#contact {
  padding-bottom: 0;
}

@media only screen and (max-width: 768px) {

  #navigationBar {
    padding-right: 15px;
  }

  #logo {
    bottom: -4px;
    margin-left: 30px;
  }

  #logoImage {
    width: 30px;
  }

  #col-navlink1 {
    padding-top: 10px;
    text-align: center;
  }

  #col-navlink1 a {
    font-family: "GeoSansLight";
    font-size: 15px;
    color: grey;
  }

  #col-navlink2 {
    padding-top: 10px;
    text-align: center;
  }

  #col-navlink2 a {
    font-family: "GeoSansLight";
    font-size: 15px;
    color: grey;
  }

  #col-navlink3 {
    padding-top: 10px;
    text-align: center;
  }

  #col-navlink3 a {
    font-family: "GeoSansLight";
    font-size: 15px;
    color: grey;
  }

  #col-navlink4 {
    padding-top: 10px;
    text-align: center;
  }

  #col-navlink4 a {
    font-family: "GeoSansLight";
    font-size: 15px;
    color: grey;
  }

  .sectionHeader {
    font-size: 15px;
  }

  .sectionHeader p {
    margin-bottom: -12px;
  }

  .sectionText {
    font-size: 12px;
  }

  .ourStory {
    font-family: "TheLightFont";
    font-size: 12px;
  }

  #mapo {
    margin-bottom: -25px;
    padding: 0;
    padding-left: 15px;
    font-size: 13px;
  }

  #homestyle {
    margin-bottom: -25px;
    padding: 0;
    padding-right: 15px;
    font-size: 13px;
  }

  #vietnamese {
    margin-bottom: -25px;
    padding: 0;
    padding-left: 15px;
    font-size: 13px;
  }

  #kungpao {
    margin-bottom: -25px;
    padding: 0;
    padding-right: 15px;
    font-size: 13px;
  }

  #mapoImage {
    width: 125px;
    margin-right: -42px;
  }

  #homestyleImage {
    width: 125px;
    margin-left: -42px;
  }

  #vietnameseImage {
    width: 125px;
    margin-right: -42px;
  }

  #kungpaoImage {
    width: 125px;
    margin-left: -42px;
  }

  #mapoText {
    padding: 0;
    padding-left: 15px;
    line-height: 12px;
  }

  #homestyleText {
    padding: 0;
    padding-right: 15px;
    line-height: 12px;
  }

  #vietnameseText {
    padding: 0;
    padding-left: 15px;
    line-height: 12px;
  }

  #kungpaoText {
    padding: 0;
    padding-right: 15px;
    line-height: 12px;
  }

  .sectionBody {
    padding: 15px;
  }

  .productBody {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  .headerContainer {
    padding: 0 15px;
  }

  #mapoRow {
    padding: 0 15px;
  }

  #homestyleRow {
    padding: 0 15px;
  }

  #vietnameseRow {
    padding: 0 15px;
  }

  #kungpaoRow {
    padding: 0 15px;
  }

  #tofuDescription1 {
  padding-right: 15px;
}

#tofuDescription2 {
  padding-left: 15px;
}

#tofuDescription3 {
  padding-right: 15px;
}

#tofuDescription4 {
  padding-left: 15px;
}

.footerSocial {
  width: 100%;
  margin: 0;
  margin-left: 30px;
  margin-top: -35px;
  height: 25px;
}

.socialButton {
  max-height: 30px;
}
}
